body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: cornsilk; 
}

#post h1 {
    color: crimson;
}

#post p {
    color:mediumblue    ;
}

#post {
    padding: 20px;
    margin: 100px;
    border: 1px solid;
}

